body{
    background-image: url(../assets/img/gato.jpg);
    background-attachment: fixed;
    background-size: 100%;
}

h1{
    background-color: rgba(0, 0, 0, 0.8);
    color: #f4e033;
    text-align: center;
}

h2{
    background-color: rgba(254, 139, 24, 0.4);
    color: rgba(255, 255, 255, 0.4);
    text-align: center;
}